# Ignore dependencies
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
.env
*.env
frontend/.env.local

# Ignore build folders
frontend/.next/
frontend/dist/

# Ignore OS files
.DS_Store
Thumbs.db